<header >
  <div style="margin-top: 5%;">
    <a href="/count/" class="Hbutton2">View Current Count</a>
    <a href="/bets" class="Hbutton2">View Current Bets</a>
    <a href="/bets/new" class="Hbutton2">Place a Bet</a>
  </div>


</header>