<header>
  <a href="/count/reset" style="color:white">reset</a>
  <nav>
    <ul style="list-style: none; display: inline-flexbox;">
      <li style="background-color: darkgrey; width: 33%; height: 25%; margin: auto; padding: 10px; border: 2px solid black; margin-bottom: 1%;"><a href="/count/" style="color: white; text-decoration: none;">View Current Count</a></li>
      <li style="background-color: darkgrey; width: 33%; height: 25%; margin: auto; padding: 10px; border: 2px solid black; margin-bottom: 1%;"><a href="/bets" style="color: white; text-decoration: none;">View Current Bets</a></li>
      <li style="background-color: darkgrey; width: 33%; height: 25%; margin: auto; padding: 10px; border: 2px solid black; margin-bottom: 1%;"><a href="/bets/new" style="color: white; text-decoration: none;">Place a Bet</a></li>
    </ul>
  </nav>
</header>