<header >
  <div style="margin-top: 5%;">
    <a href="/account/new" class="Hbutton2">New Account</a>
    <a href="/account/" class="Hbutton2">View Current Accounts</a>
    <a href="/application/new" class="Hbutton2">Add New Applications</a>
  </div>


</header>