<div style="width: fit-content; text-align: left; margin: auto;">
  <label style="">Name:</label>
  <input type="text" name="name" style="">
</div>
<div style="width: fit-content; text-align: left; margin: auto;">
  <label style=""> Place your Bet/Guess</label>
  <input type="Number" name="bet">
</div>