<div class=" center break5">
  <label class="label">Name:</label>
  <input type="text" name="name">
  </div>
  <div class=" center break5">
  <label class="label"> Place your Bet:</label>
  <input type="Number" name="bet">
</div>