
<div style="text-align: center;">
  <h2 class="opac" style="margin: auto;">Existing Bets</h2>
<% bets.forEach(bet => { %>
<div class="Ebet">
  <h1><%= bet.name %></h1>
  <h2 id="color"><%= bet.bet %></h2>
</div>
<%}) %>
</div>
<div style="position: fixed; margin-left: 0; margin-top: 0; ">
  <a href="/bets/reset" style="color: #1e2139; text-decoration: none;">R</a>
</div>