<div class="form" style="width:25%">
  <div style="text-align: center;">
    <h1 class=""><u>Accounts</u></h1>
  <% accounts.forEach(account => { %>
  <div class="">
    <h2><a href="/account/<%= account.id %>/details" class="buttonA"><%= account.DSN %></a></h2>
  </div>
  <%}) %>
  </div>
</div>
