<div class="form" style="width:25%">
  <div style="text-align: center;">
    <h1 class="textW title" style=""><u>Accounts</u></h1>
  <% accounts.forEach(account => { %>
  <div class="">
    <h2 class="buttonA" style="" ><a href="/account/<%= account.id %>/details" style="color:#000000; text-decoration: none;"><%= account.DSN %> - (<%= account.Tasks.length %>)</a></h2>
  </div>
  <%}) %>
  </div>
</div>
