body{
    margin: 0;
}

.applications{
    /* display: flex; */
    float: left;
    padding: 2%;
    border-right: 1px solid black;
    height: 70vh;
}

.button {
    margin: auto;
    display: block;
    width:max-content;
    height: 25px;
    background: #696969;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
}
.button2 {
    width:max-content;
    height:max-content;
    background: #696969;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
}
.Hbutton2 {
    width:max-content;
    height:max-content;
    background: #696969;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
}
.buttonA {
    height:max-content;
    background: #696969;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
}
.task:hover{
    cursor:pointer;
    
}
.form{
    margin: auto;
    margin-top: 2%;
    width: max-content;
    display: block;
    background-color: rgb(255, 225, 128);
    padding: 2%;
    border: 2PX SOLID BLACK;
    border-radius: 25px;
    font-weight: bolder;
}
.align{
    display: inline-block;
    width: 150px;
    text-align: left;
}