body{
    margin: 0;
    background-color: #00425A;

}

.applications{
    /* display: flex; */
    float: left;
    padding: 2%;
    border: 1px solid black;
    height: 70vh;
}

.button {
    margin: auto;
    display: block;
    width:max-content;
    height: 25px;
    background-color: #BFDB38;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #2c2c2c;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
}
.button2 {
    width:max-content;
    height:max-content;
    background-color: #BFDB38;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #2c2c2c;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
}
.Hbutton2 {
    width:max-content;
    height:max-content;
    background-color: #BFDB38;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #2c2c2c;
    font-weight: bold;
    font-size: large;
    border: 3px solid black;
    text-decoration: none;
    margin-right: 2%;
}
.buttonA {
    margin: auto;
    margin-bottom: 1%;
    width: 250px;
    height:max-content;
    background-color: #BFDB38;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #2c2c2c;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
}
.task:hover{
    cursor:pointer;
    
}
.form{
    margin: auto;
    margin-top: 2%;
    width: max-content;
    display: block;
    background-color: #1F8A70;
    padding: 2%;
    border: 2PX SOLID white;
    border-radius: 25px;
    font-weight: bolder;
}
.align{
    display: inline-block;
    width: 150px;
    text-align: left;
}
.textW{
    color: #000000;
}
.title{
    font-size: 45px;
}
.tasktitle{
    color: #FC7300;
}