body{
    margin: 0;
    background-image: url('../../uploads/aaron-burden-RgTI2KaQ5N4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.Hbutton2{
    display: block;
    margin: auto;
    width: 33%;
    height: 25%;
    padding: 10px;
    margin-bottom: 1%;
    background-color: #fbf9ec;
    border: 1px solid #2f3944;
    font: bold 25px Arial;
    text-decoration: none;
    color: #333333;
    border-radius: 2px;
    
  }

  .Hbutton2:hover{
    background-color: #2f3944;
    color: #EEEEEE;
    text-decoration: underline;
    
  }
  .button{
    border-radius: 2px;
    margin-bottom: 1%;
    padding: 5px 8px;
    background-color: #EEEEEE;
    border: 1px solid #2f3944;
    font: bold 20px Arial;
    text-decoration: none;
    color: #2f3944;
  }

  .label{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight:bolder;
    font-size: 20px;
  }
  .break5{
    margin-bottom: 5px;
  }
  .center{
    text-align: center;
  }

  .Ebet{
    display: inline-block;
    margin: 1%;
    border: 2px solid #2f3944;
    width: 15vw;
    height: max-content;
    background-color: #79849c;
    color: #fbf9ec;
  }

  .opac{
    background-color: #fbf9ec;
    opacity: 1;
    width: max-content;
    margin: auto;
    padding: 1%;
    border-radius: 5%;
  }