<div class="opac">
  <h2 style="text-align: center;">Current Count</h2>
  <h1 id="counting"><%= counter.Counter %></h1>
    <form action="/Count/increase?_method=PUT" method="POST">
      <input type="hidden" name="Counter" value="<%- counter.Counter+1 %>">
      <button type="submit" class="button" style="width:80%; font: 25px;">+</button>
    </form>
</div>
<div style="margin-top: 5%; ">
  <a href="/count/reset" class="button">RESET</a>
</div>
